<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:database.sqlite</property>

        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <property name="hibernate.show_sql">false</property>

        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="dev.miti99.thptqg2017.entity.Student" />
    </session-factory>
</hibernate-configuration>
