.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Node ###
node_modules/

### Generated database ###
public/thptqg2017.db
public/thptqg2017.db.gz

### Build output ###
dist/
